<h1>Editing capp</h1>

<% form_for(@capp) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @capp %> |
<%= link_to 'Back', capps_path %>